CYCLOBILITY_ORDERS_URL=https://portal.cyclobility.be/nl/admin/retailer/orders?order_number=&mail=&first_name=&last_name=&state=in_invoicing
OUTPUT_CSV=../../storage/incoming/cyclobility-orders.csv
AUTH_STATE=../../playwright/.auth/cyclobility-user.json